<?xml version="1.0"?>
<launch>
  <!-- 그리퍼 Headless 모드 실행 -->
  <node pkg="kr_gcs_ui" exec="kr_gcs_ui_headless" name="gripper_headless" output="screen">
    <!-- 기본 설정 -->
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="slave" value="1"/>
    <param name="baud" value="115200"/>
  </node>
</launch>
